.article-container {
  background-color: grey;
}

.article-profile-img {
  width: 50px !important;
  height: 50px !important;
}
.text-style {
  color: #999 !important;
}

.author-style {
  font-size: 1.5em;
}

.article-info {
  display: flex;
}

.tag-style {
  margin: 0px 10px;
}
